.nav-path{
    font-size: 16px;
    padding: 18px 16px 14px 16px;
    border-bottom: 1px solid #DCDDDE;
}
.path-ul{
    display: inline-block;
    vertical-align: middle;
}
.path-title:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 18px;
    margin-right: 10px;
    background-color: #222222;
}
*:before{
    box-sizing: border-box;
}
.main-body-content{
    padding: 16px 12px;
}
.search-left{
    width: 930px;
    float: left;
}
.search-left .dropdown{
    float:left;
}
.select-date{
    height: 34px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}
.search-right{
    float: right;
}
.top-body{
    margin-top: 20px;
}
.table-body{
    margin-top: 20px;
}
.table-body table th{
    text-align: center;
    color: #666;
}
.table-body table tr{
    text-align: center;
}
.table-body table tbody ul{
    min-width: 90px;
}
a.page-button{
    border: none;
}
.caret-right{
    border-left: none;
    border-right: 6px solid #666;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
.caret-left{
    border-left: 6px solid #666;
    border-right: none;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
#jump-text{
    display: inline-block;
    vertical-align: middle;
}
.page-ul-li{
    display: inline-block;
    float: right;
    top: 1px;
}
.table-body table thead tr th{
    text-align: center;
    color: #666;
    position: relative;
}
.departmentName-span{
    font-size: 16px;
}
.selectStaff-staff-ul li{
    margin-left: 22px;
    margin-top: 2px;
    color: #4EB1E4;
    width: 60%;
}
.selectStaff-department-li{
    margin-top: 5px;
}
.departmentName-span:hover{
    color: #7D7D7D;
}
.selectedStaff-staff-ul{
    margin-top: 10px;
    color: #4EB1E4;
}
.selectStaff-staff-ul li:hover{
    font-size: 16px;
    background-color: #CECECE;
    border-radius: 5px 5px;
}
.selectedStaff-staff-ul li{
    margin-top: 2px;
    width: 80%;
}
.selectedStaff-staff-ul li:hover{
    cursor: pointer;
    font-size: 16px;
    background-color: #CECECE;
    border-radius: 5px 5px;
}
.departmentName-span_{
    font-size: 16px;
}
.selectOneStaff-staff-ul li{
    margin-left: 22px;
    margin-top: 2px;
    color: #4EB1E4;
    width: 60%;
}
.selectOneStaff-department-li{
    margin-top: 5px;
}
.departmentName-span:hover{
    color: #7D7D7D;
}
.selectOneedStaff-staff-ul{
    margin-top: 10px;
    color: #4EB1E4;
}
.selectOneStaff-staff-ul li:hover{
    font-size: 16px;
    background-color: #CECECE;
    border-radius: 5px 5px;
}
.selectOneedStaff-staff-ul li{
    margin-top: 2px;
    width: 80%;
}
.selectOneedStaff-staff-ul li:hover{
    cursor: pointer;
    font-size: 16px;
    background-color: #CECECE;
    border-radius: 5px 5px;
}
.selectSchedule-schedule-ul li{
    margin-left: 22px;
    margin-top: 2px;
    color: #4EB1E4;
    width: 60%;
}
.selectSchedule-schedule-ul li:hover{
    cursor: pointer;
    font-size: 16px;
    background-color: #CECECE;
    border-radius: 5px 5px;
}
.selectProjects-ul li{
    margin-left: 22px;
    margin-top: 2px;
    color: #4EB1E4;
    width: 60%;
}
.selectProjects-ul li:hover{
    cursor: pointer;
    font-size: 16px;
    background-color: #CECECE;
    border-radius: 5px 5px;
}
.attendanceGroup-address{
    color:#999999;
    border-right:1px solid #E5E5E5
}
.selectAttendanceAddress-ul li{
    margin-left: 22px;
    margin-top: 2px;
    color: #4EB1E4;
    width: 90%;
}
.selectedAttendanceAddress-ul{
    margin-top: 10px;
    color: #4EB1E4;
}
.selectAttendanceAddress-ul li:hover{
    font-size: 16px;
    background-color: #CECECE;
    border-radius: 5px 5px;
    cursor: pointer;
}
.selectedAttendanceAddress-ul li{
    margin-top: 2px;
    width: 95%;
}
.selectedAttendanceAddress-ul li:hover{
    cursor: pointer;
    font-size: 16px;
    background-color: #CECECE;
    border-radius: 5px 5px;
}
.modifyAttendanceGroup-address{
    color:#999999;
    border-right:1px solid #E5E5E5
}
.selectModifyAttendanceAddress-ul li{
    margin-left: 22px;
    margin-top: 2px;
    color: #4EB1E4;
    width: 90%;
}
.selectedModifyAttendanceAddress-ul{
    margin-top: 10px;
    color: #4EB1E4;
}
.selectModifyAttendanceAddress-ul li:hover{
    font-size: 16px;
    background-color: #CECECE;
    border-radius: 5px 5px;
    cursor: pointer;
}
.selectedModifyAttendanceAddress-ul li{
    margin-top: 2px;
    width: 95%;
}
.selectedModifyAttendanceAddress-ul li:hover{
    cursor: pointer;
    font-size: 16px;
    background-color: #CECECE;
    border-radius: 5px 5px;
}