html{
    width: 100%;
    height: 100%;
}
body {
    min-width: 100%;
    min-height: 100%;
    background: url(../imgs/login.jpg) no-repeat 0 0px;
    font-family: STKaiti;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.container{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    position: absolute;
    right:5%;
    top:40%;
}
.input-group-addon{
    background-color: rgba(0, 0, 0, 0.6);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border: none;
    color: #ffffff;
    top:0px;
}
.form-signin .input-group input{
    background-color: rgba(0, 0, 0, 0.4);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: none;
    color: #ffffff;
}
.form-signin-heading{
    text-align: center;
}
.submit-btn{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    border: none;
    color: #ffffff;
}
h1{
    height: 69px;
    margin-top: 0px;
    margin-bottom: 0;
    padding-top:20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    border: none;
}