.nav-path{
    font-size: 16px;
    padding: 18px 16px 14px 16px;
    border-bottom: 1px solid #DCDDDE;
}
.path-ul{
    display: inline-block;
    vertical-align: middle;
}
.path-title:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 18px;
    margin-right: 10px;
    background-color: #222222;
}
*:before{
    box-sizing: border-box;
}
.main-body-content{
    padding: 16px 12px;
}
.main-table{
    border:1px solid #000000;
    margin-top: 20px;
    font-size: 16px;
    padding: 0;
}
.table-body{

}
.table-selfDefine{
    text-align: center;
    margin-bottom: 0px;
}
.table-selfDefine thead tr th{
    text-align: center;
    border: none;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.table-selfDefine tbody tr td{
    text-align: center;
    border: none;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 0;
}
.table-selfDefine tbody tr td input{
    width: 100%;
    text-align: center;
    border: none;
}
.table-selfDefine tbody tr td img{
    width: 25px;
}
.table-selfDefine tbody tr td img:hover{
    cursor: pointer;
    width: 30px;
}
.addContent img{
    width: 30px;
}
.addContent img:hover{
    cursor: pointer;
    width: 38px;
}
.check-div textarea{
    width: 100%;
    height: 70%;
    overflow-y: hidden;
    border: none;
}
.check-div .note-div{
    width: 100%;
    height: 70%;
    overflow-y: hidden;
    border: none;
}
.selectDepartment-ul li{
    font-size: 16px;
    margin-left: 22px;
    margin-top: 2px;
    color: #4EB1E4;
    width: 60%;
}
.selectDepartment-ul li:hover{
    cursor: pointer;
    font-size: 18px;
    background-color: #CECECE;
    border-radius: 5px 5px;
}
.departmentName-span{
    font-size: 16px;
}
.selectOneStaff-staff-ul li{
    margin-left: 22px;
    margin-top: 2px;
    color: #4EB1E4;
    width: 60%;
}
.selectOneStaff-department-li{
    margin-top: 5px;
}
.departmentName-span:hover{
    color: #7D7D7D;
}
.path-arrow-left{
    padding: 3px 8px;
    border: none;
}
.top-body{
    margin-top: 20px;
}
.table-body{
    margin-top: 20px;
}
.table-body table th{
    text-align: center;
    color: #666;
}
.table-body table tr{
    text-align: center;
}
.search-right{
    float: right;
}
.search-left{
    width: 930px;
    float: left;
}
.applyTable-goodsName-ul{
    min-width: 180px;
    max-height: 200px;
    overflow-y: scroll;
}
ul.applyTable-goodsName-ul li:hover{
    cursor: pointer;
    background-color: #333333;
    color: #ffffff;
}
ul.applyProcess-menu-ul li a:hover{
    font-size: 16px;
}
#myModal-PurchaseApplyDetails label,#myModal-PurchaseApplyDetails th,#myModal-PurchaseApplyDetails span{
    color: #000000;
    font-weight: bold;
}
.purchaseApplyDetails-table-selfDefine{
    text-align: center;
    margin-bottom: 0px;
}
.purchaseApplyDetails-table-selfDefine thead tr th{
    text-align: center;
    border: none;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.purchaseApplyDetails-table-selfDefine tbody tr td{
    text-align: center;
    border: none;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 0;
}